WorkGate-frontend/FDM/node_modules/.vite/deps/react-dom-BjDyeKcB.js.map
WorkGate-frontend/FDM/node_modules/.vite/deps/react-dom-BjDyeKcB.js.map
/WorkGate-frontend/FDM/node_modules/.vite
WorkGate-backend/FDM/workgate.db
